.img-sample{
    height: 400px;
}

.hide {
    display: none;
}

.result-grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 40px; 
    row-gap: 20px;
}
.recipe-card {
    height: 317px;
    overflow: hidden;
    border-radius: 5px;
}

.recipe-name{
    font-size: 18px;
    white-space:nowrap;
}
.recipe-description{
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 6;
            line-clamp: 6; 
    -webkit-box-orient: vertical;
}
.recipe-ingredients {
    font-size: 12px;
    font-weight: 00;
}
.card-body{
    padding: 5px 10px;
}

.card-title{
    display: flex;
    justify-content: space-between;
}

.main{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.filters{
    align-self: flex-start;
    margin: 2rem 13.9rem;
}

.filters > button {
    width: 8rem;
    height: 3rem;
}

.tagContainer {
    display: grid;
    padding: 10px;
    width: 667px;
    height: 397px;
    grid-template-columns: repeat(3, 1fr);
    border-radius: 0 0px 15px 15px;
    grid-gap: 15px;
    overflow-y: hidden;
    position: absolute;
}
.filter-opened {
    min-width: 667px !important;
    border-radius: 15px 15px 0 0;
}

.tags{
    color:white;
    list-style: none;
    cursor: pointer;
}

.tags:hover{
    background-color: rgb(112, 36, 36);
}
#tags-search{
    display: none;
    border:none;
    width:397px;
}

.pinsContainer{
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 15px;
}

.pin {
    background-color: dodgerblue;
}